.viewdetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 200PX;
  margin-left: 100px;

}
.search_list {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.search_list > div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_list > div > h4 {
  margin: 10px;
  font-size: 18px;
}
.search_list > div > h6 {
  font-size: 14px;
}
.viewDetails {
  background-color: #ff3c4a;
  border-radius: 5px;
  border: 1px solid;
  width: 190px;
  height: 40px;
  color: white;
  font-size: 18px;
  border: white;
}

.ViewDetails_box {
    margin-left: 20px;
}
