.searchField {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
}
.searchField_bar {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.searchField_bar_input {
  margin: 20px;
  width: 540px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #ff3c4a;
}
.searchField_bar > .MuiSvgIcon-root {
  height: 60px;
  width: 60px;
  color: gray;
}
